@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")

body {
}

.App {
 background-color: #D3D3D3;
}

.article-title {
  font-weight: bold;
  color: #330d00;
}


.title :hover{
  font-weight: bold;
  color: #330d00;
  cursor: pointer;
}

.head {
  font-weight: bold;
  color: #330d00;
}

.header {
  font-weight: bold;
  color: #330d00;
}


.App-logo {
  height: 80px;
  padding-left: 500px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.container{
  padding-left: 100px;
  padding-top: 30px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}